@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
  margin: 0 !important;
  padding: 0 !important;
  overflow: auto !important;
}

button {
  cursor: pointer;
  color: var(--mint-cream);
  border: none;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  background-color: var(--wenge);
}

button.inverted {
  background-color: var(--mint-cream);
  color: var(--wenge);
  border: 1px solid var(--wenge);
}

.job-listing button {
  height: fit-content;
}

#app {
  margin: auto;
  font-weight: normal;
}

.homepage {
  font-family: 'Playfair Display', serif;
  color: var(--raisin-black);
  padding-bottom: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search-container {
  text-align: center;
  color: var(--mint-cream);
  background-color: var(--verdigris);
}

.search-container a {
  font-size: 1m;
  font-weight: bold;
  float: left;
  color: var(--mint-cream);
  margin: 10px;
  text-decoration: none;
}

.search-container span {
  float:left;
  padding: 10px;
}

.search-container input {
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  margin: 0px 10px 0px 10px;
}

.table-container {
  grid-column: 1;
  color: var(--raisin-black);
  display: flex;
  flex-direction: column;
}

.job-listing {
  background-color: var(--mint-cream);
  padding:10px;
}

.view-more-jobs {
  margin: 0 0 40px 0px;
}

.info-container, .filter-container {
  background-color: var(--mint-cream);
  color: var(--wenge);
  padding: 10px;
  border-radius: 5px;
}

.more-jobs-container, .chart-container, .info-container {
  margin-bottom: 60px;
}

.footer {
  background-color: var(--raisin-black);
  color: var(--mint-cream);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .search-container, .table-container, .info-container, .filter-container, .more-jobs-container {
    grid-column: 1;
  }
}

@media (min-width: 1200px) {  
  .grid-container {
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
  }

  .search-container {
    grid-column: 1 / 11;
  }

  .table-container {
    grid-column: 2 / 5;
  }

  .info-container {
    grid-column: 5 / 7;
  }

  .filter-container {
    grid-column: 2 / 4;
  }

  .more-jobs-container {
    grid-column: 4 / 7;
  }


}
